@import "./variables";

.modal {
	font-family: $fail-font;
	font-size: 50px;
	color: $basic-white;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba(51, 48, 48, 0.8);
	justify-content: center;
	align-items: center;
	display: none;
	cursor: pointer;

	&-error {
		position: relative;
	}

	&-close {
		position: absolute;
		width: 40px;
		height: 40px;
		background-color: transparent;
		border: none;
		top: 100px;
		right: 250px;
		cursor: pointer;
	}

	&-close::before {
		position: absolute;
		content: "";
		width: 10px;
		height: 100%;
		background-color: $basic-white;
		top: 0;
		left: 15px;
		transform: rotate(45deg);
	}

	&-close::after {
		position: absolute;
		content: "";
		width: 10px;
		height: 100%;
		background-color: $basic-white;
		top: 0;
		left: 15px;
		transform: rotate(-45deg);
	}

	&-close:hover {
		width: 50px;
		height: 50px;
		top: 95px;
		right: 240px;
	}

	&.show {
		display: flex;
	}
}